# Milestone 1

<br>

### Imports

In [1]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

### Variables

In [2]:
# Figshare article metadata
article_id = 14096681
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "figsharerainfall/"

### 3. Send API request to Figshare to download articles data

In [3]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # articles data
files = data["files"]             # files data
files[3] # target folder

{'id': 26766812,
 'name': 'data.zip',
 'size': 814041183,
 'is_link_only': False,
 'download_url': 'https://ndownloader.figshare.com/files/26766812',
 'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
 'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'}

### Collect data.zip folder from the list of `files`

In [4]:
%%time
files_to_dl = ["data.zip"]
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: total: 9.69 s
Wall time: 2min 43s

### Unzip files from `data.zip` folder

In [6]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory + "/data")

CPU times: total: 27.9 s
Wall time: 41.1 s

### 4. Combining csv's in `data` folder

In [29]:
%%time
## merging files
import pandas as pd
files = glob.glob('figsharerainfall/data/*.csv')
files = [file for file in files if file != 'figsharerainfall/data\\observed_daily_rainfall_SYD.csv']
df = pd.concat((pd.read_csv(file, index_col=0) 
                .assign(model=re.findall(r'[^\/]+(?=\_daily_rainfall_NSW.csv)', file)[0])
                for file in files)
              )
df.to_csv("figsharerainfall/combined_data.csv")

CPU times: total: 23min 30s
Wall time: 24min 40s

In [9]:
%%sh
du -sh figsharerainfall/combined_data.csv

5.6G	figsharerainfall/combined_data.csv

In [10]:
print(df.shape)

(62467843, 6)

In [11]:
df.head()

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM

In [13]:
#%reset -f

### 5. Load the combined CSV to memory and perform a simple EDA

#### Approach #1

In [15]:
df.dtypes

lat_min          float64
lat_max          float64
lon_min          float64
lon_max          float64
rain (mm/day)    float64
model             object
dtype: object

#### Approach #2

#### Summary of results

| Team Member       | Operating System | RAM  | Processor | Is SSD | Time taken |
|-------------------|------------------|------|-----------|--------|------------|
| Karanpreet Kaur   |                  |      |           |        |            |
| Melisa Maidana    | mac              | 8 GB | M1        | yes    |            |
| Nagraj Rao        |                  |      |           |        |            |
| Ting Zhe (TZ) Yan |                  |      |           |        |            |

### 6. Perform a simple EDA in R

#### Approach to transfer the dataframe from python to R

#### Discuss why you chose this approach over others

#### Summary of results

| Team Member       | Operating System | RAM  | Processor | Is SSD | Time taken |
|-------------------|------------------|------|-----------|--------|------------|
| Karanpreet Kaur   |                  |      |           |        |            |
| Melisa Maidana    | mac              | 8 GB | M1        | yes    |            |
| Nagraj Rao        |                  |      |           |        |            |
| Ting Zhe (TZ) Yan |                  |      |           |        |            |